server:
  port: 8080
spring:
  application:
    name: fund-search-service
  datasource:
    url: jdbc:postgresql://localhost:5432/funds_db?reWriteBatchedInserts=true
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          batch_size: 100
          fetch_size: 100
        order_inserts: true
        order_updates: true

  elasticsearch:
    uris: http://localhost:9200

funds:
  index:
    name: funds
    on-startup: false
    async:
      core-pool-size: 4
      max-pool-size: 8
      queue-capacity: 200
    batch-size: 500
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
