spring:
  application:
    name: fund-search-service

  datasource:
    url: jdbc:postgresql://localhost:5432/funds_db?reWriteBatchedInserts=true
    username: postgres
    password: postgres
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
          batch_size: 100
          fetch_size: 100
        order_updates: true
        order_inserts: true
        generate_statistics: false
  elasticsearch:
    uris: http://localhost:9200
server:
  port: 8080

